body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    color: pink;
}

#topo{
    text-decoration: none;
    color: pink;
}

#card{
    border: 1px solid red;
    margin-left: 2px;
}

#titulo{
    border-bottom: 1px solid white;
}

main{
    color: snow;
}


#entrar-form input,
#inscreverse-form input{
    background-color: black;
    color: snow;
    font-weight: bold;
    box-shadow:0 0 1px 1px pink;
}

#entrar-form input:hover,
#inscreverse-form input:hover{
    background-color: pink;
    font-weight: bold;
    box-shadow:0 0 1px 1px black;
}

#entrada{
    color: pink
}