/*Estrutura de todas as páginas*/
body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: snow;
}

header{
    color: pink;
}


main{
    color: black;
    font-size: 15px;    
}

.h5, h5{
    color: #ee9da4;
}

.h3{
    color: #de2663;
}

#fundo-branco{
    color: black;
    background-color: snow;
}

#fundo-rosa3{
    background-color: #f3eaeb;
    color: black;  
    
}

#btn-preto:hover{
    background: #de2663;
}

#btn-branco{
    color: #f7cbcc;
}

#btn-branco:hover{
    background: #de2663;
}

/**/
#rosa1{
    color: #f7cbcc;
}

#rosa2{
    color: #fcc0c2;
}

#rosa3{
    color: #ffb2c9;
}

#rosa4{
    color: #f98cab;
}

#rosa5{
    color: #ee9da4;
}

#rosa6{
    color: #f97b90;
}

#rosa7{
    color: #f98cab;
}

#rosa8{
    color: #f97394;
}

#rosa9{
    color: #d75f8d;
}

#rosa10{
    color: #cd4d7d;
}

#rosa11{
    color: #dd4166;
}

#rosa12{
    color: #ec407a;
}

#rosa13{
    color: #de2663;
}

#rosa14{
    color: #c2175b;
}

#rosa15{
    color: #ad1457;
}

/*
*******Página index
*/

a{
    text-decoration: none;
    color: #cd4d7d;
    font-weight: bold;
}

a:hover{
    color: #f98cab;
}

/*
*******Página entrada
*/

#topo{
    text-decoration: none;
    color: pink;
}

mark{
    background-color: gray;
    border-radius: 4%;
}


/*
*******Página entrada
*/




/*Estrutura de classes*/

.card{
    border: 1px solid rgb(255, 0, 43);    
}

.card p{
    color: black;
    font-weight: bold;
}

/*Estrutura de id*/
#card{
    border: 1px solid red;
    margin-left: 2px;
}

#titulo{
    border-bottom: 1px solid white;
    color: #d5185f;
}

#entrar-form input,
#inscreverse-form input{
    background-color: black;
    color: snow;
    font-weight: bold;
    box-shadow:0 0 1px 1px pink;
}

#entrar-form input:hover,
#inscreverse-form input:hover{
    background-color: pink;
    font-weight: bold;
    box-shadow:0 0 1px 1px black;
}

#formulario{
    color: rgb(226, 141, 155);
}

/*Página -> dashboard.phtml*/






/*Animação*/
[data-anime]{
    opacity: 5%;
    transition: 1s;
}

[data-anime="left"]{
    transform: translate3d(-100px, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(100px, 0, 0);
}

[data-anime="top"]{
    transform: translate3d(0, -100px, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}